absl-py==0.9.0
addict==2.2.1
affine==2.3.0
albumentations==1.1.0
astor==0.8.1
astropy==4.0
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.8.2
bleach==3.1.0
blis==0.4.1
bottleneck==1.3.1
cachetools==4.0.0
catalogue==1.0.0
certifi==2020.6.20
cffi==1.13.2
chardet==3.0.4
click-plugins==1.1.1
click==8.0.1
cligj==0.7.2
cloudpickle==1.3.0
configparser==5.2.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
cython==0.29.15
cytoolz==0.10.1
dask==2.12.0
dataclasses==0.6
decorator==4.4.1
defusedxml==0.6.0
descartes==1.1.0
dill==0.3.4
docker-pycreds==0.4.0
easydict==1.9
entrypoints==0.3
fastai==2.5.3
fastcore==1.3.27
fastdownload==0.0.5
fastprogress==1.0.0
fastrelease==0.1.12
fastscript==0.1.4
fiona==1.8.20
future==0.18.2
gast==0.3.3
geopandas==0.9.0
ghapi==0.1.19
gitdb==4.0.9
gitpython==3.1.24
google-auth-oauthlib==0.4.1
google-auth==1.11.0
google-pasta==0.1.8
grpcio==1.27.1
h5py==2.10.0
idna==2.9
imageio==2.8.0
imgaug==0.4.0
importlib-metadata==1.5.0
inflect==4.1.0
iou3d==0.0.0
ipydatawidgets==4.0.1
ipykernel==5.1.4
ipyscales==0.4.0
ipython-genutils==0.2.0
ipython==7.12.0
ipyvolume==0.5.2
ipywebrtc==0.5.0
ipywidgets==7.5.1
jaraco.itertools==5.0.0
jedi==0.16.0
jinja2==2.11.1
joblib==0.15.1
jsmin==3.0.0
json5==0.9.0
jsonschema==3.2.0
jupyter-client==5.3.4
jupyter-console==6.1.0
jupyter-core==4.6.1
jupyter==1.0.0
jupyterlab-server==1.0.6
jupyterlab==1.2.6
keras-applications==1.0.8
keras-preprocessing==1.1.0
kiwisolver==1.1.0
kornia==0.5.10
llvmlite==0.37.0
markdown==3.2
markupsafe==1.1.1
matplotlib==3.1.3
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mmcv-full==1.3.9
mmcv==0.3.2
mmdet==1.1.0+4c94f10
mmsegmentation==0.15.0
more-itertools==8.2.0
multiprocess==0.70.12.2
munch==2.5.0
murmurhash==1.0.2
nb-conda-kernels==2.2.2
nb-conda==2.2.1
nbconvert==5.6.1
nbdev==1.1.23
nbformat==5.0.4
networkx==2.4
nibabel==3.2.1
notebook==6.0.3
numba==0.54.0
numexpr==2.7.1
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
olefile==0.46
opencv-python-headless==4.5.1.48
opencv-python==4.2.0.32
opt-einsum==3.1.0
packaging==20.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.1
pathtools==0.1.2
pcdet==0.1.0+95d2ab5
pexpect==4.8.0
pickleshare==0.7.5
pillow==6.2.2
pip==20.0.2
plac==1.1.3
preshed==3.0.2
prettytable==2.1.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.3
protobuf==3.19.1
psutil==5.8.0
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycocotools==2.0
pycparser==2.19
pygments==2.5.2
pykitti==0.3.1
pyopenssl==19.1.0
pyparsing==2.4.6
pyproj==3.1.0
pyrsistent==0.15.7
pyshtools==4.6.2
pysocks==1.7.1
python-dateutil==2.8.1
pythreejs==2.2.0
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.3
pyzmq==18.1.1
qtconsole==4.6.0
qudida==0.0.4
rasterio==1.2.6
requests-oauthlib==1.3.0
requests==2.23.0
roipool3d==0.0.0
rsa==4.0
scikit-image==0.16.2
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.0
self-supervised==1.0.3
send2trash==1.5.0
sentry-sdk==1.5.0
setuptools==45.1.0.post20200127
shapely==1.7.1
shortuuid==1.0.8
simpleitk==2.0.2
six==1.14.0
skan==0.9
slidingwindow==0.0.14
smmap==5.0.0
snuggs==1.4.7
soupsieve==1.9.5
spacy==2.2.3
sparseconvnet==0.2
spconv==1.0
srsly==1.0.1
subprocess32==3.5.4
tensorboard==2.1.0
tensorboardx==2.0
tensorflow-estimator==2.1.0
tensorflow==2.1.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.0
testpath==0.4.4
thinc==7.3.1
thop==0.0.31.post2001170342
threadpoolctl==2.1.0
timm==0.5.0
toolz==0.10.0
torch-scatter==2.0.8
torch==1.9.0
torchaudio==0.9.0
torchsummary==1.5.1
torchvision==0.10.0
tornado==6.0.3
tqdm==4.42.1
traitlets==4.3.3
traittypes==0.2.1
trimesh==3.6.1
typing-extensions==3.10.0.0
urllib3==1.25.8
wandb==0.12.7
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
werkzeug==1.0.0
wheel==0.34.2
widgetsnbextension==3.5.1
wrapt==1.11.2
xarray==0.15.0
xmltodict==0.12.0
yapf==0.31.0
yaspin==2.1.0
zipp==2.1.0